* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

:root {
    --fonte: 'Mukta';
}

body {
    height: 100vh;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header a:hover {
    color: #C51111;    
    transition: 0.5s ease-in-out;
}

.caixa-mae {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 100px;
}

.caixa-principal {
    width: 40%;
}

.caixa-principal p {
    color: white;
}

.logo-mario {
    height: 200px;
}

.entre-em-contato {
    color: white;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.entre-em-contato:hover {
    color: black;
    background-color: rgba(197, 17, 17, 0.7);
    transition: 0.5s ease-in-out;
}

.imagem-mario-luigi {
    height: 500px;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.formulario-fale-conosco {
    background: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: fixed;
    top: 15%;
    left: -800px;
    padding: 20px;
    border-radius: 5px;
}

.formulario-fale-conosco h2 {
    text-align: center;
}

.dados-pai {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

label {
    width: 100%;
    font-weight: bold;
}

input {    
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid gray;
    /* outline-color: #18D80F; */
}

textarea {
    margin: 20px auto 0 auto;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid gray;
}

.pedir-orcamento {
    margin: auto;
    color: white;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

@media (max-width: 1100px) {    
    .header {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .header img {
        display: block;
    }

    .header a {
        font-size: 18px;
    }

    .caixa-principal {
        
        width: 100%;
    }

    .caixa-mae {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 10px;
    }

    .imagem-mario-luigi {
        width: 80vw;
        height: auto;
    }

    .formulario-fale-conosco {
        width: 75%;                
    }

    .dados-pai {
        display: flex;
        flex-direction: column;
    }
}